@{
    ViewBag.Title = WordsCounter.Resources.Shared.SharedTexts.Title;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-primary">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <label for="comment">@WordsCounter.Resources.Home.HomeIndexTexts.TextAreaLabel</label>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="#operationsDropDown" class="dropdown-toggle" data-toggle="dropdown">
                                                @WordsCounter.Resources.Home.HomeIndexTexts.OperationsButton
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#deleteDatas" id="deleteTextAreaDatasButton">
                                                        <span class="glyphicon glyphicon-trash"> </span> @WordsCounter.Resources.Home.HomeIndexTexts.DeleteButton
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="panel-body">
                            <form>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <textarea autocomplete="off" class="form-control" rows="10" id="textTextArea" placeholder="@WordsCounter.Resources.Home.HomeIndexTexts.TextAreaPlaceholder"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div style="margin: 20px auto;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="summaryPanelHref" class="colpsible-panel" data-toggle="collapse" href="#summaryPanel">
                                        @WordsCounter.Resources.Home.HomeIndexTexts.SummaryInformationPanelTitle
                                    </a>
                                </h4>
                            </div>
                            <div id="summaryPanel" class="panel-collapse collapse in" aria-expanded="true">
                                <ul class="list-group in" style="margin-bottom: 0;">
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Characters</span>
                                        <span class="badge" id="character_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.CharactersWithoutSpace</span>
                                        <span class="badge" id="character_count_without_spaces">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Words</span>
                                        <span class="badge" id="word_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Sentences</span>
                                        <span class="badge" id="sentences_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Paragraphs</span>
                                        <span class="badge" id="paragraphs_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.AlphanumericCharacters</span>
                                        <span class="badge" id="alphanumeric_characters_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.NumericCharacters</span>
                                        <span class="badge" id="numeric_characters_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.AlphaCharacters</span>
                                        <span class="badge" id="alpha_characters_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.UniqueWords</span>
                                        <span class="badge" id="unique_words_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.ShortWords</span>
                                        <span class="badge" id="short_words_count">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.LongWords</span>
                                        <span class="badge" id="long_words_count">0</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class=" col-md-6">
                    <div style="margin: 20px auto;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="colpsible-panel collapsed" data-toggle="collapse" href="#topWords">
                                        @WordsCounter.Resources.Home.HomeIndexTexts.TopWordsPanelTitle
                                    </a>
                                </h4>
                            </div>
                            <div id="topWords" class="panel-collapse collapse">
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-md-6">
                    <div style="margin: 20px auto;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="colpsible-panel collapsed" data-toggle="collapse" href="#allWords">
                                        @WordsCounter.Resources.Home.HomeIndexTexts.AllWordsPanelTitle
                                    </a>
                                </h4>
                            </div>

                            <div id="allWords" class="panel-collapse collapse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MyHomeSCRIPT definiálása-->
<script src="~/Scripts/HomeScripts/MyHomeScript.js"></script>