@{WordsCounter.Models.ViewModels.SummaryInformationViewModel summaryInformationViewModel = ViewData.Model;}

<ul class="list-group in" style="margin-bottom: 0;">
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Characters</span>
        <span class="badge" id="character_count">@summaryInformationViewModel.CharactersCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.CharactersWithoutSpace</span>
        <span class="badge" id="character_count_without_spaces">@summaryInformationViewModel.CharactersCountWithoutSpaces</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Words</span>
        <span class="badge" id="word_count">@summaryInformationViewModel.WordsCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Sentences</span>
        <span class="badge" id="sentences_count">@summaryInformationViewModel.SentencesCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.Paragraphs</span>
        <span class="badge" id="paragraphs_count">@summaryInformationViewModel.ParagraphsCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.AlphanumericCharacters</span>
        <span class="badge" id="alphanumeric_characters_count">@summaryInformationViewModel.AlphanumericCharactersCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.NumericCharacters</span>
        <span class="badge" id="numeric_characters_count">@summaryInformationViewModel.NumericCharactersCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.AlphaCharacters</span>
        <span class="badge" id="alpha_characters_count">@summaryInformationViewModel.AlphaCharactersCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.UniqueWords</span>
        <span class="badge" id="unique_words_count">@summaryInformationViewModel.UniqueWordsCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.ShortWords</span>
        <span class="badge" id="short_words_count">@summaryInformationViewModel.ShortWordsCount</span>
    </li>
    <li class="list-group-item">
        <span class="labelList">@WordsCounter.Resources.Partials.SummaryInformation.LongWords</span>
        <span class="badge" id="long_words_count">@summaryInformationViewModel.LongWordsCount</span>
    </li>
</ul>